@using Microsoft.AspNetCore.Identity 
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>@ViewData["Title"] - MuseumDataEntry</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/style.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="~/js/scripts.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/vendors/bootstrap.min.js"></script>
    <script src="~/js/vendors/bootstrap.js"></script>
</head>

<body>

    <header>
            <div class="sticky-header-container">
                <div class="header-main header-primary navbar mega-menu disable-hover affix-top" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <div class="navbar-container">
                            <div class="navbar-header">
                                <a class="ua-logo left" href="@Url.Action("Index", "Home")" title="Univ of Alabama">
                                    <img class="left" title="Paul W. Bryant Museum" src="~/img/BryantMuseumLogo.png" alt="Bryant Museum" width="355" height="110">





                                    <nav class="navbar navbar-expand-sm navbar-right right pull-right">
                                            <a href="#" class="btn btn-default nav-toggle visible-xs visible-sm">
                                                <span class="sr-only">Toggle navigation</span>
                                                <i class="fa fa-bars">
                                                </i>
                                            </a>
                                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                                <span class="navbar-toggler-icon"></span>
                                            </button>
                                            <nav class="navbar-right">
                                                <div class="navbar-collapse collapse">
                                                    <ul class="nav navbar-nav">
                                                        <li class="visible-xs visible-sm">
                                                            @if (SignInManager.IsSignedIn(User))
                                                            {

                                                                <a href="#" class="nav-toggle text-center">
                                                                    <span class="sr-only">Close navigation</span>
                                                                    <i class="fa fa-times"></i>
                                                                </a>


                                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                                            <li>@Html.ActionLink("Beacons", "Index", "Beacons")</li>
                                                            <li>@Html.ActionLink("Exhibits", "Index", "Exhibits")</li>
                                                            <li>@Html.ActionLink("Items", "Index", "Items")</li>
                                                            <li>@Html.ActionLink("Multimedias", "Index", "Multimedias")</li>
                                                            <li>@Html.ActionLink("Museums", "Index", "Museums")</li>
                                                            <li>@Html.ActionLink("Sections", "Index", "Sections")</li>
                                                            <li>@Html.ActionLink("User", "Index", "Identity")</li>
                                                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Identity" title="Manage">Hello @User.Identity.Name!</a>

                                                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                                <button type="submit">Logout</button>
                                                            </form>

                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a asp-area="Identity" asp-page="/Account/Login">
                                                                    Login
                                                                </a>
                                                            </li>
                                                        }


                                            </nav>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bryant Museum Capstone Team - University of Alabama</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>